/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins:wght@200&display=swap');
}

@layer components {
  .border-brutal {
    @apply transition-opacity outline-brutal sm:outline hover:outline-brutal focus-within:outline-brutal;
    /* @apply transition-opacity outline-brutal hover:outline-brutal focus-within:outline-brutal; */
  }

  .article {
    @apply flex flex-col w-full sm:max-w-md sm:m-2 md:m-4 border-brutal;
    
    @media (min-width: 640px) {
      min-width: 25%;
      max-width: 50%;
      flex: 1 1 30ch;
    }
  }
}